/* CSS Document */


@font-face{
	font-family: 'barlow-r';
	src: url(../fonts/PT_Sans-Web-Regular.ttf)  format('truetype');
	font-weight: 700;
}

@font-face{
	font-family: 'barlow-b';
	src: url(../fonts/../fonts/PT_Sans-Web-Bold.ttf)  format('truetype');
}
@font-face{
	font-family: 'barlow-i';
	src: url(../fonts/PT_Sans-Web-Italic.ttf)  format('truetype');
}

body{
	margin: 0;
	padding: 0;
	font-family: 'barlow-r';
	color: #333333;
}

strong{
	font-family: 'barlow-b';
}

#fullpage{
	height: 100vh;
	margin: 0;
	padding: 0;
}

#fullpage section{
	height: 100vh;
	margin: 0;
	padding: 0;
}

#fullpage section .divison{
	height: 100vh;
	margin: 0;
	padding: 0;
}

#section0{
	background: url(../img/back.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.w_logo{
	position:fixed;
	top: 4px;
	left: 10px;
	width: 8em;
}

.home{
	align-self: center;
}

.home ul {
    list-style-type: none;
    overflow: hidden;
	margin-top: 38px;
	font-family: 'barlow-r';
    background-color: none;
	border: none;
	
}

.home li {
	text-align: center;
    float: left;
}

.home li a {
    display: block;
    color: #FFFFFF;
    text-align: center;
	font-size: 18px;
    padding: 14px 35px;
    text-decoration: none;
}

.home li a:hover {
	color: #DB4F51;
}
.home li a .active {
	color: #DB4F51;
}


.scroll_line
{
	display: inline-block;
    position: absolute;
    bottom: 0.4em;
    right: 23em;
	color: #fff;
}

.scroll_text
{
	color: #fff;
	display: inline-block;
    position: absolute;
    bottom: 7em;
    right: 20.5em;
	-webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.social{
	position: fixed;
	bottom: 10px;
	right: 5px;
}

.social ul {
    list-style-type: none;
    overflow: hidden;
	margin-top: 38px;
	font-family: 'barlow-r';
    background-color: none;
	border: none;
	
}

.social li {
	text-align: center;
    float: left;
}

.social li a {
    display: block;
    color: #FFFFFF;
    text-align: center;
	font-size: 24px;
    padding: 8px;
    text-decoration: none;
}

.social li a:hover {
	color: #DB4F51;
}
.social li a .ac {
	color: #DB4F51;
}

.donate
{
	position: fixed;
	background: none;
	border: 3px solid #fff;
	color: #fff;
	padding: 8px 25px;
	-webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
	font-family: 'barlow-b';
	font-size: 18px;
	right: 1px;
	top: 40%;
}

.donate a{
	text-decoration: none;
}

.donate:hover{
	text-decoration: none;
	background: #fff;
	color: #000;
}

.navbar-co{
	align-self: center;
	 background-color: #FCFCFC;
}

.navbar-co ul {
    list-style-type: none;
    overflow: hidden;
	margin-top: 0px;
	font-family: 'barlow-r';
    background-color: #FCFCFC;
	border: none;
	padding-left: 50px;
	
}

.navbar-co li {
	text-align: center;
    float: left;
}

.navbar-co li a {
    display: block;
    color: #333;
    text-align: center;
	font-size: 18px;
    padding: 14px 35px;
    text-decoration: none;
}

.navbar-co li a:hover {
	color: #DB4F51;
}
.navbar-co li a .active {
	color: #DB4F51;
}

.navbar-logo{
	position:absolute;
	top: 3px;
	left: 10px;
	width: 4em;
}


.navbar-bottom{
	align-self: center;
	display: table-cell;
	vertical-align: middle;
	background-color: #fafafa;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	color: #333333;
}

.navbar-bottom a {
	display: inline-block;
    color: #333;
    text-align: center;
	font-size: 18px;
    margin: 8px 10px;
    text-decoration: none;
}

.navbar-bottom a:hover {
	color: #DB4F51;
}


.per_50{
	position: fixed;
	right: 0px;
	height: 85.8%;
	margin: 0;
}

.p_50{
	height: 50%;
}

.clr{
	background: #3686D4;
}
